In [11]:
import plotly.express as px

import pandas as pd

import numpy as np

In [19]:
pd.read_json("./content/data.json")

                    name        R.A.       Dec.  Exposure  Sigma    ref
0            Crab Nebula   83.633208  22.014472  0.333000    7.8  False
1       Andromeda Galaxy   10.685542  41.269278  0.500000    6.5  False
2           Orion Nebula   83.822080  -5.391111  0.250000    8.2  False
3       Whirlpool Galaxy  197.470375  47.195278  0.416667    6.9  False
4       Pleiades Cluster   56.850000  24.116667  0.166667    9.1  False
5           Eagle Nebula  274.800000 -13.783333  0.277778    7.3  False
6       Horsehead Nebula   85.246875  -2.458333  0.222222    8.5  False
7            Ring Nebula  283.397750  33.029167  0.305556    7.2  False
8        Sombrero Galaxy  185.728708 -11.629167  0.361111    6.7  False
9          Lagoon Nebula  271.571250 -24.386667  0.263889    8.0  False
10          Helix Nebula  337.410375 -20.836667  0.236111    8.7  False
11     Antennae Galaxies  180.471167 -18.869528  0.472222    7.1  False
12    BoomeR.A.ng Nebula  191.206250 -54.517222  0.333333    9.3  False
13          Omega Nebula  271.571250 -24.386667  0.263889    8.0  False
14    TaR.A.ntula Nebula   89.658675 -69.085000  0.388889    7.4  False
15      Cat's Eye Nebula  137.389583  13.226667  0.277778    8.4  False
16           Veil Nebula  311.409250  30.721389  0.236111    7.6  False
17  North America Nebula  344.488750  44.510000  0.263889    7.9  False
18         Trifid Nebula  270.591250 -23.030000  0.333333    7.0  False
19      Andromeda Galaxy   10.685542  41.269278  0.500000    6.5  False

In [21]:
evt_df = pd.read_json("./content/data.json")
fig = px.scatter_geo(evt_df, lon="R.A.", lat="Dec.", hover_name="name", hover_data=["Exposure", "Sigma"], projection="aitoff")
fig.update_geos(
    visible=True,
    framecolor="black",
    framewidth=1,
    landcolor="white",
    countrywidth=0,
    coastlinewidth=0,
    lataxis_showgrid=True,
    lonaxis_showgrid=True,
)

xtext = [r"{}&#176;".format(t) for t in np.arange(0, 361, step=30)]
ytext = [r"{}&#176;".format(t) for t in np.arange(-80, 81, step=20) if t !=0]
fig.add_scattergeo(lat=np.ones(18), lon=np.arange(0, 359, step=30),
    mode="text", text=xtext, textfont_size=8, hoverinfo="none", showlegend=False)
fig.add_scattergeo(lat=[v for v in np.arange(-80, 81, step=20) if v!=0], lon=np.ones(9)*230,
    mode="text", text=ytext, textfont_size=8, hoverinfo="none", showlegend=False)

text = fig.to_html()

In [24]:
with open("../../public/plot.html", mode="w") as f:
    f.write(text)